* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Убираем полосы прокрутки */
    height: 100vh;
  }
  
#canvas {
  display: block;
  width: 100vw; /* Ширина на всю ширину окна */
  height: 100vh; /* Высота на всю высоту окна */
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 50px;
  background-color: #423e3e;
}

.main {
  flex: 1;
}

.footer {
  height: 100px;
  background-color: #423e3e;
}
