* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden; /* Убираем полосы прокрутки */
    height: 100vh;
  }
  
#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('../assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layout {
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;

}

.gamebar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(11, 37, 110, 0.39);
  z-index: 2;
}

.my_button {
  height: 50px;
  background-color: rgba(0, 32, 102, 0.788);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 2px 4px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.lifes {
  display: flex;
}

.life {
  width: 30px;
  height: 30px;
  background-image: url('../assets/images/life.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
  border-radius: 50%;
}

.game_over_container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 3;
  transition: all 200ms;
}

.game_over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 160px;
  padding: 3px 6px;
  color: white;
  border: 4px solid white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: scale(0);
  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.game_over_label {
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.game_over_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.my_button_over {
  border: 2px solid white;
  border-radius: 10px;
  background: none;
  color: white;
  padding: 10px;;
}

.my_button_over:active {
  animation: button_animation 200ms ease forwards;
}

@keyframes button_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}